@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
    font: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }

.section-p1{
   padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.normal{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18x;
    color: #222222;
    background-color: solid;  
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid  #cdebbc;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100;
}

p{
    font-weight: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20PX 80px;
    background: #e3e6f3;
    box-shadow: 0 5px15PX rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#newbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
     content: "";
     width: 30%;
     height: 2px;
     background: #088178;
     position: absolute;
     bottom: -4px;
     left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;  
}

/* Home Page */
#hero{
    background-image: url(IMG/neeew.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
   color: #088178;
}

#hero button{
    background-image: url(IMG/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin: 15px 0;;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 63, 221, 0.1);

}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #cfbceb;
}
#feature .fe-box :nth-child(4) h6{
    background-color: #e7bceb;
}
#feature .fe-box:nth-child(5) h6{
    background-color: hsl(33, 54%, 83%);
}
#feature .fe-box:nth-child(6) h6{
    background-color: #ebbce1;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1{
   text-align: center;

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #2a1d7e14;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border: 6px solid #00000005;
    border-radius: 10px;
}
#product1 .pro .des{
     text-align: start;
     padding: 10px 0;
}
#product1 .pro .des Span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgba(228 214 24);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #222222;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('IMG/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    background: #088178;
    color: #fff;

}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
   
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('IMG/Bann/b7.png ');
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}
#sm-banner .banner-box2{
    background-image: url('IMG/Bann/b9.png ');
}

#sm-banner h4{
    color: #222222;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #a2aa36;
    font-size: 28px;
    font-weight: 700;
}
#sm-banner span{
    color: #222;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;

}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('IMG/Bann/B2.png ');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}
#banner3 .banner-box2{
    background-image: url('IMG/Bann/b10.png ');
}
#banner3 .banner-box3{
    background-image: url('IMG/Bann/b11.png ');
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(IMG/Bann/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

 footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;;
}
footer .follow i{
    color: #606063;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1.2px solid #088178;
    border-radius: 7px;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


@media(max-width:799px)  { 
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px ;
        background-color: #e3e6f3;
        box-shadow: o 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
    display: none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 89%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;;
    }
   #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;

    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10PX 30px;
    }
    #newbar {
        padding: 0 20px;
    }  
    h1 {
        font-size: 25px;
    }     
      h2 {
        font-size: 20px;
      }
        #hero {
            padding: 0 20px;
            background-position: 25%;
        }
        #hero p{
        color: brown;
        }
        #feature {
            justify-content: space-between;
        }
        #feature .fe-box {
            width: 155px;
            margin: 0 0 15px 0;
        }
        #product1 .pro {
            width: 100%;
        }
        #banner {
            height: 40vh;
        }
        button.normal {
            font-size: 8px;
            font-weight: 600;
        }
        #sm-banner span{
            color: saddlebrown;
        }
        #sm-banner .banner-box {
            height: 40vh;
        } 
        #banner3 {
            padding: 0 20px;
        }
        #banner3 .banner-box{
            width: 100%;
        }
        #newsletter {
            padding: 40px 20px;
        }
        #newsletter .form {
            width: 100%;
        }
        footer .copyright{
            text-align: start;
        }

        /* single product*/

   #prodetails{
    display: flex;
    flex-direction: column;
  }
    #prodetails .single-pro-image{
      width: 100%;
      margin-right: 0px;
    }
    /* Blog Page*/
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
     }
     #blog .blog-details{
        width: 100%;
     }
     /*About Page*/
     #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video{
        width: 100%;
    }
}

element.style {
}
#about-app .video video {
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
user agent stylesheet
video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
#about-app {
    text-align: center;
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-r
}    

/*shop page*/
#page-header {
    background-image: url(IMG/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#page-header h2,
#page-header p{
    color: #fff;

}

#pagenation{
     text-align: center;
}
#pagenation a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagenation a i{
    font-size: 16px;
    font-weight: 600;
}

 /* Single Product Styling*/

 #prodetails{
    display: flex;
    margin-top: 20px;
}
  
#prodetails .single-pro-image{
    width: 40%;
    margin: 50px;
    min-width: 250px;
    padding: 30px 15px;
    border: 2px solid #2a1d7e14;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#prodetails .single-pro-image:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    padding: 10px 20px;
    border: 1px solid #2a1d7e14;
    border-radius: 5px 2px;
}

.small-img-col{
    flex-basis: 24%;
    padding: 8px 10px;
    border: 2px solid #2a1d7e14;  
}

.small-img-col:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#prodetails .single-prodetails{
    width: 65%;
    padding: 40px 30px 40px 70px ;
}
#prodetails .single-prodetails h4{
    padding: 20px 0 10px 0;;
}
#prodetails .single-prodetails h2{
    font-size: 26px;
}

#prodetails .single-prodetails select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-prodetails input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-prodetails input:focus{
    outline: none;
}

#prodetails .single-prodetails button{
    background: #088178;
    color: #fff;
}

#prodetails .single-prodetails span{
    line-height: 25px;
}


/*Blog page*/

#page-header.blog-header{
    background-image: url("img/banner/b19.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px; 
    color: #000;
    font-weight: 700;
    position: relative;
}  

#blog .blog-details a::after{
content: "";
width: 50px;
height: 1px;
background-color: #000;
position: absolute;
top: 4px;
right: -60px;
}  

#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover:after{
background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 10;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/*About Page */
#page-header.about-header{
    background-image: url(IMG/about/banner.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}


#about-head div{
    padding-left: 40px;
}
#about-app { 
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}